on:
  push:
    branches:
      - main
jobs:
  ubuntu_hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World from Ubuntu Runner"
      - run: echo "The job was auto triggered by a ${{ github.event_name }} event"
      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub"
      - run: echo "GitHub Repository URL is ${{ github.repositoryURL }} and branch is ${{ github.ref_name }}"
